<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Obmen_wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Obmen_wpf.Properties.Settings>
            <setting name="configFrom" serializeAs="String">
                <value>F130\Config</value>
            </setting>
            <setting name="configTo" serializeAs="String">
                <value>C:\Program Files (x86)\ИПФ Сервер\Дневник Ф130\Config</value>
            </setting>
            <setting name="postPayRegFrom" serializeAs="String">
                <value>C:\Users\Public\Documents\LttPpsPlugin\ExportFiles</value>
            </setting>
            <setting name="postPayRegTo" serializeAs="String">
                <value>PostPay\Reg</value>
            </setting>
            <setting name="f130From" serializeAs="String">
                <value>C:\Program Files (x86)\ИПФ Сервер\Дневник Ф130\Archives\ASKUExport</value>
            </setting>
            <setting name="f130To" serializeAs="String">
                <value>F130\Asku</value>
            </setting>
            <setting name="esppFrom" serializeAs="String">
                <value>ESPP\DB</value>
            </setting>
            <setting name="esppTo" serializeAs="String">
                <value>C:\Гибридные переводы</value>
            </setting>
            <setting name="postPayDBFrom" serializeAs="String">
                <value>PostPay\DB</value>
            </setting>
            <setting name="postPayDBTo" serializeAs="String">
                <value>C:\База по коммунальным платежам</value>
            </setting>
            <setting name="pensionFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="pensionTo" serializeAs="String">
                <value>ESPP\Pension</value>
            </setting>
            <setting name="cashFsgFrom" serializeAs="String">
                <value>FSG\Cash</value>
            </setting>
            <setting name="cashFsgTo" serializeAs="String">
                <value>C:\Users\Public\Documents\FSG\Кэш</value>
            </setting>
            <setting name="fsgRegFrom" serializeAs="String">
                <value>C:\Users\Public\Documents\FSG\Реестры платежей</value>
            </setting>
            <setting name="fsgRegTo" serializeAs="String">
                <value>FSG\Reg</value>
            </setting>
            <setting name="postPayUpdateFrom" serializeAs="String">
                <value>PostPay\Update</value>
            </setting>
            <setting name="postPayUpdateTo" serializeAs="String">
                <value>C:\ProgramData\PostPay\ExecutiveVersion</value>
            </setting>
            <setting name="serverIp" serializeAs="String">
                <value />
            </setting>
            <setting name="serverLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="serverPass" serializeAs="String">
                <value />
            </setting>
            <setting name="askuIp" serializeAs="String">
                <value>10.86.1.252</value>
            </setting>
            <setting name="askuLogin" serializeAs="String">
                <value>asku</value>
            </setting>
            <setting name="askuPass" serializeAs="String">
                <value />
            </setting>
            <setting name="askuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsInfoPoinChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listIp" serializeAs="String">
                <value>10.86.1.252</value>
            </setting>
            <setting name="listLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="listPass" serializeAs="String">
                <value />
            </setting>
            <setting name="listFrom" serializeAs="String">
                <value>List</value>
            </setting>
            <setting name="listTo" serializeAs="String">
                <value />
            </setting>
        </Obmen_wpf.Properties.Settings>
    </userSettings>
</configuration>