<#@ template language="C#" #>

using System.Reflection;

[assembly: AssemblyVersion("1.0.<#= this.BuildNumber #>.<#= this.RevisionNumber #>")]
[assembly: AssemblyFileVersion("1.0.<#= this.BuildNumber #>.<#= this.RevisionNumber #>")]
<#+
    int BuildNumber = (int)(DateTime.Now - new DateTime(2016,4,13)).TotalDays;
	int RevisionNumber = (int)DateTime.Now.TimeOfDay.TotalSeconds;
#>